<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5DtJJJD8vhIrZlsjt1WecC6bU7yyBPgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521898336315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YourCompany.BettaTest2</string>
	<key>PROJECT_ID</key>
	<string>bettatest2-27939</string>
	<key>STORAGE_BUCKET</key>
	<string>bettatest2-27939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521898336315:ios:26f0c35a2450e0f11ebc1e</string>
</dict>
</plist>